footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  padding: 0.4rem 0px 0.4rem 0px;
}

#footer-txt {
  color: whitesmoke;
  font-size: clamp(0.9rem, 0.1vw + 1rem, 6rem);
  font-weight: bolder;
}

#gh-a {
  display: flex;
  margin: 0;
  width: clamp(4rem, 4.5vw + 1rem, 6rem);
  justify-content: center;
  align-items: center;
}

#gh-img {
  height: auto;
  width: 40%;
}

#gh-img:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
}
